.page-title {
	display: block !important;
	text-align: center;
	font-size: 2rem;
	margin-top: 10px;
}

.page-title-home {
	display: block !important;
	text-align: left;
	font-size: 2rem;
	margin-top: 10px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form-container {
	width: 350px;
	margin: auto;
	max-width: 80%;
}
