.page-title {
	display: block !important;
	text-align: center;
	font-size: 2rem;
	margin-top: 10px;
}

.page-title-home {
	display: block !important;
	text-align: left;
	font-size: 2rem;
	margin-top: 10px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* .form-container {
	margin: auto;
	width: 80%;
} */

/* .chat-room {
	width: 80%;
	margin: auto;
 }  */

.chat-form {
	display: inline-block;
}
